[defaults]
inventory = ./inventory/aws_ec2.yml
roles_path = ./roles
host_key_checking = False
remote_user = ubuntu
private_key_file=/home/mohamedelsayad/CloudDevOpsProject/keys/devops-key.pem
[ssh_connection]
retries = 5
pipelining = True
ssh_args = -o ServerAliveInterval=30 -o ServerAliveCountMax=5